.articles-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.articles-list {
  margin-top: -1px;
  cursor: pointer;
  flex: 1 1 auto;

  &__article {
    display: flex;
    align-items: center;
    height: 40px;
    align-items: stretch;

    .tags-container:not(:empty) {
      margin-right: 8px
    }

    &:hover {
      box-shadow: inset 0 1px 1px #dadce0, 0 2px 2px #dadce0;
    }

    &__title-link-container {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      overflow: hidden;
    }

    &__title-link {
      color: black;
      text-decoration: none;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &__checked-icon {
      padding: 4px 4px 4px 0;
      display: flex;
      align-items: center;
    }

    .operations-container {
      display: none;
    }

    &:hover .operations-container {
      display: flex;
    }
  }
}