.articles-projections {
  padding-top: 8px;
  flex: 0 0 auto;
}

.articles-projections__projection {
  &.btn:focus, &.btn:active, &.btn.focus {
    box-shadow: none !important;
  }

  &:not(.active) {
    background-color: #6c757d !important;
  }
}

.text-filter-and-operations {
  margin-top: 8px;
  display: flex;
}

.text-filter {
  flex: 1 1 auto;
  display: flex;
  margin-right: 8px;

  &__input {
    flex: 1 1 auto;
    font-size: 1.1em;
  }
}

.tags-filter-projection {
  margin: 8px 0;
}

.article-list-bulk-operations {
  margin-top: 8px;
}