.articles-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.articles-list {
  margin-top: -1px;
  cursor: pointer;
  flex: 1 1 auto;

  &__article-container {
    &:hover {
      z-index: 100;
      box-shadow: 0 5px 5px #dadce0;
    }
  }

  &__article {
    display: flex;
    align-items: center;
    align-items: stretch;

    .tags-container:not(:empty) {
      margin-right: 8px
    }

    &__title-link-container {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      overflow: hidden;
    }

    &__title-link {
      color: black;
      text-decoration: none;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .operations-container {
      display: none;
    }

    &:hover .operations-container {
      display: flex;
    }
  }
}