.articles-projections {
  padding-top: 8px;
  flex: 0 0 auto;

  &__primary {
    margin-bottom: 8px;
  }

  &__quick {
    &.btn:focus, &.btn:active, &.btn.focus {
      box-shadow: none !important;
    }

    &:not(.active) {
      background-color: #6c757d !important;
    }

    &:last-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.tags-filter-projection {
  margin: 8px 0;
}

.article-list-bulk-operations {
  margin-bottom: 8px;
}