.header {
  &__action {
    display: flex;
    align-items: center;

    svg {
      margin-right: 8px;
    }
  }

  &__stats {
    display: flex;
    align-items: center;

    svg {
      margin: 0 2px 0 6px;
    }

    &:not(:last-child) {
      margin-right: 12px;
    }
  }
}