.tags-container {
  display: flex;
}

.tag {
  background: grey;
  color: white;
  border-radius: 4px;
  padding: 0 4px 1px 4px;
  font-size: 0.9em;
  white-space: nowrap;
  display: flex;
  cursor: pointer;
}

.tag:not(:last-child) {
  margin-right: 8px;
}

.tag__icon {
  display: flex;
  align-items: center;
  margin-left: 4px;
}

.tag__icon:hover {
  opacity: 0.6;
}
