.tags-container {
  display: flex;
  align-items: center;
}

.tags-container .tag:not(:last-child) {
  margin-right: 8px;
}

.tag {
  background: grey;
  color: white;
  border-radius: 4px;
  padding: 0 4px 1px 4px;
  font-size: 0.9em;
  white-space: nowrap;
  display: inline-flex;
  cursor: pointer;
}

.tag__text {
  line-height: 16px;
}

.tag__icon {
  display: flex;
  align-items: center;
  margin-left: 4px;
}

.tag__icon svg {
  height: 16px;
  width: 16px;
}

.tag__icon:hover {
  opacity: 0.6;
}

.tag-input-modal {
  position: absolute;
  display: flex;
  background: white;
}

.tag-input-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag-input-content {
  padding: 8px;
}

.tag-input-content__header {
  margin: 0;
  margin-bottom: 8px;
}

.tag-input-content__buttons {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.tag-input-content__buttons button {
  padding: 4px 8px;
}

.react-tags {
  width: 300px;
}

.react-tags__selected {
  display: flex;
  flex-wrap: wrap;
}

.react-tags__search-input {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
}

.react-tags .tag {
  margin: 0 8px 8px 0;
}