.articles-list {
  display: flex;
  flex-direction: column;
}

.articles-list__article {
  padding: 8px;
  display: flex;
  align-items: center;
}

.articles-list__article:hover {
  background: #eaeaea;
}

.articles-list__article__title-link {
  color: black;
  text-decoration: none;
  flex: 1 1 auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.articles-list__article__icons {
  margin-left: 8px;
  display: flex;
}

.articles-list__article__icons svg {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.articles-list__article__icons svg:hover {
  opacity: 0.7;
}

.articles-list__article__open-icon-link {
  color: black;
  display: flex;
  align-items: center;
}
