.tag-input-container {
    background: white;
    padding: 8px;
    border-radius: 8px;
}

.tag-input-popover {
    box-shadow: 5px 5px 5px black;
}

.tag-input-popover > .Popover-tip {
    fill: white;
}