.articles-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.articles-list {
  margin-top: -1px;
  cursor: pointer;
  flex: 1 1 auto;
}

.articles-list__article {
  display: flex;
  align-items: center;
  height: 40px;
  align-items: stretch;
}

.articles-list__article:hover {
  box-shadow: inset 0 1px 1px #dadce0, 0 2px 2px #dadce0;
}

.articles-list__article:hover .tags-container {
  display: none;
}

.articles-list__article__title-link-container {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.articles-list__article__title-link {
  color: black;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.articles-list__article .operations-container {
  display: none;
}

.articles-list__article:hover .operations-container {
  display: flex;
}

.article-list__article__checked-icon {
  padding: 4px 4px 4px 0;
  display: flex;
  align-items: center;
}