.articles-list {
  margin-top: -1px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.articles-list__article {
  padding: 10px 8px;
  display: flex;
  align-items: center;
}

.articles-list__article:hover {
  /* background: #eaeaea; */
  box-shadow: inset 0 1px 1px #dadce0, 0 2px 2px #dadce0;
}

.articles-list__article__title-link {
  color: black;
  text-decoration: none;
  flex: 1 1 auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 20px;
}

.articles-list__article__icons {
  margin-left: 8px;
  display: flex;
}

.articles-list__article__icons svg {
  height: 20px;
  width: 20px;
}

.articles-list__article__icons svg:hover {
  opacity: 0.7;
}

.articles-list__article__open-icon-link {
  color: black;
  display: flex;
  align-items: center;
}
