# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.jsk

# testing
/coverage

# production
dist
bin
obj
wwwroot

# misc
.cache
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
