html, body, #root {
  height: 100%;
}

.app {
  width: 800px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.login-container {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.login-button {
  font-size: 1.1em;
  padding: 8px 16px;
  cursor: pointer;
}