.tags-container {
  display: flex;
  align-items: center;
}

$tag-content-height: 16px;

.tags-container .tag:not(:last-child) {
  margin-right: 8px;
}

.tag {
  display: inline-flex;
  align-items: center;

  &__text {
    line-height: $tag-content-height;
  }

  &__icon {
    display: flex;
    align-items: center;
    margin-left: 4px;

    &:hover {
      opacity: 0.6;
    }

    svg {
      height: $tag-content-height;
    }
  }
}

.react-tags {
  &__selected {
    display: flex;
    flex-wrap: wrap;
  }

  &__search-input {
    display: flex;
    justify-content: stretch;
    flex-direction: column;
  }

  .tag {
    margin: 0 8px 8px 0;
  }
}