html, body, #root {
  height: 100%;
}

.app {
  width: 800px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
